- error = @post.errors.key?(:title) && @post.errors[:title].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :title, :class => 'control-label'
  div class='controls'
    = f.text_area :title, :class => 'form-control input-large input-with-feedback', :autofocus => true
    span class='help-inline' = error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)
- error = @post.errors.key?(:body) && @post.errors[:body].count > 0
fieldset class='control-group#{error ? ' has-error' : ''}'
  = f.label :body, :class => 'control-label'
  div class='controls'
    = f.text_area :body, :class => 'form-control input-large input-with-feedback'
    span class='help-inline' = error ? f.error_message_on(:body, :class => 'text-error') : pat(:example)

div class="form-actions"
  = f.submit pat(:save), :class => 'btn btn-primary'
  |&nbsp;
  = f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  |&nbsp;
  = link_to pat(:cancel), url(:posts, :index), :class => 'btn btn-default'