- @title = @post.title

#show
  .post
    .title
      = @post.title
    .date
      = time_ago_in_words(post.created_at || Time.now) + 'ago'
    .body
      = simple_format(@post.body)
    .details
      .author
        | Posted by #{post.acount.email}
p
  = link_to('View all posts', url_for(:posts, :index))
